[Desktop Entry]
Name=Trello
Exec=/home/ppdha82/Downloads/Trello
Terminal=false
Type=Application
Icon=/home/ppdha82/Downloads/Trello/resources/app/static/Icon.png
