[Desktop Entry]
Name=Trello
Exec=/home/ppdha82/Project/LinuxProgram/trello/trello/Trello
Terminal=false
Type=Application
Icon=/home/ppdha82/Project/LinuxProgram/trello/trello/resources/app/static/Icon.png
